rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /profiles/{userId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null && request.auth.uid == userId;
      allow update, delete: if request.auth != null && request.auth.uid == userId;
    }
    match /workouts/{document=**} {
      allow read: if request.auth != null;
      allow create, update, delete: if request.auth != null && request.resource.data.userId == request.auth.uid;
    }
    match /structured_workouts/{doc} {
  		allow read, write: if request.auth != null && request.auth.uid == resource.data.userId;
  		allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
		}
    match /daily_activity/{docId} {
  		allow read, write: if request.auth != null && resource.data.userId == request.auth.uid;
		}
    match /workout_plans/{planId} {
  		allow get: if request.auth != null;
  		allow list: if request.auth != null && request.auth.uid == resource.data.userId;
  		allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
  		allow update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
		}
    match /shared_plans/{plan} {
      allow read:   if request.auth != null && (
        request.auth.uid == resource.data.sharedWith ||
        resource.data.shareMethod == 'qr'
      );
      allow create: if request.auth != null && (
        request.auth.uid == request.resource.data.sharedBy ||
        (request.resource.data.shareMethod == 'qr_claimed' &&
         request.auth.uid == request.resource.data.sharedWith)
      );
      allow update: if request.auth != null && request.auth.uid == resource.data.sharedWith;
      allow delete: if false;
    }
	}
}
